<h1>Cocktails list</h1>

<ul class="list-group">
  <li class='list-group-item disabled'>
    <span class='name'>Cocktail name</span>
  </li>
  <% @cocktails.each do |cocktail| %>

<!--
  <a href="" class='list-group-item clearfix'>
    <span class='col-md-6'><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
    <span class='col-md-6'><%= cocktail.ingredients.count.to_s %></span>
  </li>
 -->
<%= link_to cocktail_path(cocktail), class: 'list-group-item clearfix' do %>
  <span class='col-xs-5'><%= cocktail.name %></span>
  <span class='col-xs-3'><%= cocktail.ingredients.count.to_s %></span>
<% end %>



<!--   <li class='list-group-item'>
    <span class='name'><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
    <span class='ingredients'><%= cocktail.ingredients.count.to_s %></span>
  </li>
 -->

  <% end %>
</ul>


<%#------- yield balise title -------%>
<% content_for(:title) do %>All the cocktails are on MisterCocktail<% end %>

<%#------- yield meta description -------%>
<% content_for(:description) do %>
All the cocktails are on MisterCocktail!
  <% if @cocktails.length > 10 %>
    Discover the
    <% c = @cocktails.to_a.shuffle.take(10) %>
    <% c.each do |c| %>
    <%= c.name %>,
    <% end %> and many more!
  <% end %>
<% end %>


